<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monstruo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1460},{803,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{803,432}}</string>
                <key>sourceSize</key>
                <string>{803,432}</string>
            </dict>
            <key>monstruo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2804},{795,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,462}}</string>
                <key>sourceSize</key>
                <string>{795,462}</string>
            </dict>
            <key>monstruo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2328},{795,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,474}}</string>
                <key>sourceSize</key>
                <string>{795,474}</string>
            </dict>
            <key>monstruo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3268},{795,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,462}}</string>
                <key>sourceSize</key>
                <string>{795,462}</string>
            </dict>
            <key>monstruo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1894},{803,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{803,432}}</string>
                <key>sourceSize</key>
                <string>{803,432}</string>
            </dict>
            <key>monstruo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{805,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{805,466}}</string>
                <key>sourceSize</key>
                <string>{805,466}</string>
            </dict>
            <key>monstruo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{803,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{803,520}}</string>
                <key>sourceSize</key>
                <string>{803,520}</string>
            </dict>
            <key>monstruo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{805,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{805,466}}</string>
                <key>sourceSize</key>
                <string>{805,466}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monstruo.png</string>
            <key>size</key>
            <string>{809,3732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f5c621fcb44e635caf91eaca63d74f5:3dd6ba6df81aca1c10f07228d0fa2bf2:132a40247b67db338d95494ce14a3ab1$</string>
            <key>textureFileName</key>
            <string>monstruo.png</string>
        </dict>
    </dict>
</plist>
