<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ninoFrente1.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,84},{32,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{32,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoFrente2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,166},{32,80}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{32,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoFrente3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,84},{32,80}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{32,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoFrente4.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,166},{32,80}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{32,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoFrente5.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,84},{32,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{32,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoFrente6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{32,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{32,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoFrente7.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,166},{32,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{32,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoFrente8.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{32,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{32,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPerf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,166},{30,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{30,78}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPerf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,84},{32,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{32,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPerf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,166},{30,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{30,78}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPerf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,166},{30,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{30,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPerf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{32,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{32,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPerf6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{32,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{32,78}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPerf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{34,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{34,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPerf8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{32,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{32,78}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPerf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{32,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{32,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPost1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,166},{32,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{32,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPost2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,82}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPost3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,84},{32,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{32,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPost4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,82}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPost5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,166},{32,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{32,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPost6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{34,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,82}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPost7.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{34,80}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{34,80}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>ninoPost8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{34,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,82}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheetNino.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8920106025cbb4f8aef14f07a4c0424:4a3a27ec88d746e48e37df860ea54ac3:69cde36fbb89e523bcb3582b19fec26b$</string>
            <key>textureFileName</key>
            <string>spritesheetNino.png</string>
        </dict>
    </dict>
</plist>
